::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 9px;
    background-color: transparent;
}

::-webkit-scrollbar:hover {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 9px;
    background: #428bca;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #428bca;
    background-clip: content-box;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
    font-size: 18px;
    line-height: 50px;
    font-family: 'STKaiti';
    color: #777;
    text-align: center;
}
.nav a{
	text-decoration: none;
	color: #777;
}
.nav a:hover{
	color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.nav a:first-child{
	float: left;

}
.nav a:last-child{
	float: right;
	margin-right: 15px;
}


.insert
{
    width: 80%;
    margin: 80px auto;
}
.insert input
{
    font-size: 20px;
    font-family: 'STKaiti';

    width: 99%;
    height: 30px;
    margin-bottom: 30px;
	padding-left: 15px;
    transition: background .3s ease-in-out;

    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus
{
    border-color: #428bca;
    outline: none;
    box-shadow: 0 0 0 #428bca;
}
.insert textarea
{
    height: 500px;
    border-radius: 5px;
}
input[type='submit']
{
    font-weight: bold;

    width: 100%;
    height: 40px;
    margin-top: 30px;
    padding: 0 50px 0 50px;

    cursor: pointer;
    transition: background .3s ease-in-out;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 5px;
    background: #428bca;

    font-size: 20px;
    font-family: 'STKaiti';

    -webkit-appearance: none;
}
input[type='submit']:hover
{
    background: #1286ea;
}
.articles {
    position: relative;
    margin: 65px 10% 2% 10%;
}

.articles ul {
    margin-bottom: 20px;
    padding-left: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.articles ul li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding-left: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    line-height: 40px;
    cursor: pointer;

}
.articles ul li a:nth-child(2),.articles ul li a:nth-child(3){
    float: right;
    padding-right: 10px;
    color: #f00;
}

.articles ul li a {
    color: #428bca;
    text-decoration: none;
    font-family: 'STKaiti';
}
.articles ul li a:hover{
    text-decoration: underline;
}
.articles ul li:hover {
    background-image: -webkit-linear-gradient(#ebebeb 0%, #f3f3f3 100%);
    background-image: -o-linear-gradient(#ebebeb 0%, #f3f3f3 100%);
    background-image: linear-gradient(#ebebeb 0%, #f3f3f3 100%);
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.articles ul li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.articles ul li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article {
    position: relative;
    margin: 65px 10% 2% 10%;
    padding: 2% 8% 5% 8%;
    height: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.article h2 {
    margin-bottom: 40px;
    padding: 5px;
    width: 98%;
    border-bottom: 2px solid #d3d3d3;
    color: #666;
    font-size: 24px;
    line-height: 150%;
}

.article p {
    display: block;
    font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei','sans-serif';
    line-height: 1.6;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}


.gray{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0px;
    display:none;
    z-index:999;
}


.login-box{
    width: 300px;
    height: 240px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    z-index:1000;
    text-align: center;
    font-family: 'STKaiti';
    display: none;
}
.login-box input:last-child{
    width: 80%;
    margin-top: 15px;
}
.titlebar{
    height: 40px;
    background-color: #F7F7F7;
    line-height: 40px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #e7e7e7;
}
a.close {
    color: #DBDADA;
    border-radius: 12px;
    text-align: center;
    height: 18px;
    width: 18px;
    font-size: 18px;
    padding-right: 10px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}
a.close:hover{
    color: #f00;
}
a.close::before {
    content: "\2716";
}

input[type="password"]{
    font-size: 18px;
    font-family: 'STKaiti';

    width: 80%;
    height: 30px;
    transition: background .3s ease-in-out;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .nav span {
        display: none;
    }
}
