@charset 'utf-8';

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
lengend,
li,
ol,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font: 1pc/1 STKaiti,Tahoma,Helvetica,Arial,\\5b8b\4f53,sans-serif;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 1pc;
}

h3 {
	font-size: 14px;
}

h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
	font-family: Courier New,Courier,monospace;
}

small {
	font-size: 9pt;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

q:after,
q:before {
	content: '';
}

legend {
	color: #000;
}

fieldset,
img {
	border: none;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

i {
    font-size: 12px;
    text-align: center;
    display: block;
}

::selection {
	background-color: #f96;
	color: #fff;
}

::-moz-selection {
	background-color: #f96;
	color: #fff;
}

html {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	border-radius: 9px;
	background-color: transparent;
}

::-webkit-scrollbar:hover {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border: 5px solid transparent;
	border-radius: 9px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: #428bca;
	background-clip: content-box;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
	font-size: 18px;
	line-height: 50px;
}

.navbtn {
	position: relative;
	float: right;
	display: none;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	padding: 9px 10px;
	border: 1px solid transparent;
	border-color: #ddd;
	border-radius: 4px;
	background-color: transparent;
	background-image: none;
}

.navbtn:focus,
.navbtn:hover {
	outline: 0;
	background-color: #e0e0e0;
	cursor: pointer;
}

.navbar {
	float: left;
	padding-left: 15px;
}

.navbtn .sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
}

.navbtn .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #888;
}

.navbtn .icon-bar + .icon-bar {
	margin-top: 4px;
}

.nav ul li a,
.nav-toggle ul li a,
.navbar a {
	color: #777;
}

.nav ul li a:hover,
.nav-toggle ul li a:hover,
.navbar a:hover {
	color: #000;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}

.nav ul {
	float: right;
	padding-right: 15px;
}

.nav ul li {
	float: left;
	padding-left: 20px;
}

.nav ul li:first-child > a {
	color: #000;
	font-weight: 700;
}

.nav-toggle {
	position: fixed;
	z-index: 99;
	display: none;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	background-color: hsla(0,0%,100%,.8);
	font-size: 18px;
}

.nav-toggle ul li {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.nav-toggle ul li:first-child {
	background-image: -webkit-linear-gradient(#ebebeb 0,#f3f3f3 100%);
	background-image: linear-gradient(#ebebeb 0,#f3f3f3 100%);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.nav-toggle ul li:first-child > a {
	color: #000;
	font-weight: 700;
}

.nav-toggle ul li:hover {
	background-image: -webkit-linear-gradient(#ebebeb 0,#f3f3f3 100%);
	background-image: linear-gradient(#ebebeb 0,#f3f3f3 100%);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.articles {
	position: relative;
	margin: 65px 10% 2%;
}

.article a {
	border-bottom: 1px dashed orange;
	color: #930ee4;
	text-decoration: none;
	cursor: crosshair;
}

.article a:hover {
	background-color: #d3d3d3;
}

.articles ul {
	margin-bottom: 20px;
	padding-left: 0;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.articles ul li {
	position: relative;
	display: block;
	margin-bottom: -1px;
	padding-left: 15px;
	border: 1px solid #ddd;
	background-color: #fff;
	line-height: 40px;
	cursor: pointer;
}

.articles ul li a {
	display: block;
	color: #428bca;
}

.articles ul li:hover {
	background-image: -webkit-linear-gradient(#ebebeb 0,#f3f3f3 100%);
	background-image: linear-gradient(#ebebeb 0,#f3f3f3 100%);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.articles ul li:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.articles ul li:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.article {
	position: relative;
	margin: 65px 10% 2%;
	padding: 2% 8% 5%;
	height: 100%;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}

.article h2 {
	margin-bottom: 40px;
	padding: 5px;
	width: 98%;
	border-bottom: 2px solid #d3d3d3;
	color: #666;
	font-size: 24px;
	line-height: 150%;
}

.article p {
	display: block;
	font-size: 20px;
	font-family: 'STKaiti';
	line-height: 1.6;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

.gray {
	position: fixed;
	top: 0;
	z-index: 999;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}

.login-box {
	position: absolute;
	z-index: 1000;
	display: none;
	width: 300px;
	height: 200px;
	border-radius: 8px;
	background-color: #fff;
}

.titlebar {
	padding-left: 10px;
	height: 40px;
	border-bottom: 1px solid #e7e7e7;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background-color: #f7f7f7;
	font-size: 20px;
	line-height: 40px;
}

a.close {
	float: right;
	padding-right: 10px;
	width: 18px;
	height: 18px;
	border-radius: 9pt;
	color: #dbdada;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
}

a.close:hover {
	color: red;
}

a.close:before {
	content: '\2716';
}

.qr-code {
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	width: 75pt;
	height: 75pt;
	background-image: url(../images/QR-Code.png);
}

input {
	float: right;
	margin-right: 10px;
	width: 50%;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 20px;
	transition: background .3s ease-in-out;
}

input:focus {
	outline: 0;
	border-color: #428bca;
	box-shadow: 0 0 0 #428bca;
}

input[type=text] {
	margin-top: 20px;
}

input[type=password] {
	margin-top: 10px;
	margin-bottom: 15px;
}

input[type=submit] {
	padding: 0 50px;
	border: none;
	border-radius: 2px;
	background: #428bca;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 700;
	cursor: pointer;
	transition: background .3s ease-in-out;
	-webkit-appearance: none;
}

input[type=submit]:hover {
	background: #1286ea;
}

.error {
    width: 1024px;
    height: 640px;
    background-color: rgba(255,255,255,0.333);
    background-image: url('../images/cat.png');
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -512px;
    border-radius: 8px;
}
.error p:first-child{
    height:640px;
    line-height:640px;
    font-size:30px;
    font-style:italic;
}
.error span {
    font-size:200px;
}

@media only screen and (max-width:768px) {
	.nav ul {
		display: none;
	}

	.navbtn {
		display: block;
	}
}
