<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler,URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/index\.html</LookFor>
        <SendTo>~/Index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/list\.html</LookFor>
        <SendTo>~/List.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(\d+)\.html</LookFor>
        <SendTo>~/Article.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/edit\.html</LookFor>
        <SendTo>~/Edit.aspx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <connectionStrings>
    <add name="conn" connectionString="server=115.159.157.25;database=XJ8C;uid=sa;pwd=Hackxing58420" />
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <pages validateRequest="false" />
	<customErrors mode="On" defaultRedirect="Error.html">
      <error statusCode="403" redirect="Error.html" />
      <error statusCode="404" redirect="Error.html" />
    </customErrors>
    <sessionState timeout="120"></sessionState>
    <compilation targetFramework="4.5" debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspx" verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add name="html" verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="" />
        <directoryBrowse enabled="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Error.html" responseMode="ExecuteURL" />
        </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>